/* GERAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
}

.logo {
    width: 170px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    z-index: 1;
}

:root{
    --primary-color: rgba(24, 119, 242, 1);
}

body{
    background-color: rgba(220, 220, 220, 1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'karla', sans-serif;
    position:relative;
}

main{
    background-color: rgba(250, 250, 250, 0.9);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
    border-radius: 5px;
}


/* BOTÕES */
.button{
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.button.blue{
    background-color: #1FB6FF;
}

button.green{
    background-color: #00aa4d;
}

button.red{
    background-color: #ff0101;
}

.button:hover{
    background-color: #00000555;
}

/* EXIBIÇÃO DOS DADOS */
.records{
    width: 100%;
    user-select: none;
    text-align: left;
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;    
}
.records td{
    height: 50px;
    padding-left: 20px;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--secundary-color);
}


/* MODAL */
.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.active{
    opacity: 1;
    z-index: 1;
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 50vw;
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.modal-header{
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.modal-close{
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover{
    background-color: #ff0101;
    color: white;
}

.modal-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
    flex-direction: column;
}

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group {
    flex: 1;
    margin-right: 10px;
}
.modal-field{
    width: 100%;
    height: 40px;
    border-style: solid;
    padding: 0 10px;
    font-size:1rem;
    border-radius: 10px;
}

.modal-footer{
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}
